<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url"           content="https://cv.fluttership.com.br" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Alexandro Castro" />
    <meta property="og:description"   content="CV Alexandro Castro" />
    <meta property="og:image"         content="https://i.imgur.com/5vIKSig.png" />
    <meta name="description" content="CV Alexandro Castro">
    <meta name="keywords" content="developer, canada, europe, cv, card">
    <meta name="author" content="Alexandro Castro">

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="icon" type="image/png" href="https://i.imgur.com/5vIKSig.png" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
    
    <link type="text/css" rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="plugins/smooth.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/vue-screen/dist/vue-screen.min.js"></script>

</head>
<body>
       <!--  Vue App -->
    <div id="app">
             <!--  Menu -->
       <b-sidebar :width="110" id="sidebar-border" v-model="menu" bg-variant="none" sidebar-class="main-menu">
        <b-navbar-nav data-scroll-header class="text-center" align="center">
          <a class="pb-3" @click="menuDrawer(false, true)" data-scroll href="#home"><i class="fas fa-home"></i></a>
          <a @click="menuDrawer(false, true)" data-scroll href="#about"><i class="fas fa-user-tie"></i></a>
          <!-- <b-nav-item @click="menuDrawer(false, true)" to="#about"><i class="fas fa-user-tie"></i></b-nav-item> -->
        </b-navbar-nav>
        <template v-slot:footer>
          <div class="d-flex text-light copyright align-items-center px-3 py-2">
           <span class="p-4"> © 2020 Alexandro Castro </span>
          </div>
         </template>
    </b-sidebar>
             <!-- end menu -->
             <!--  top -->
      <div class="top-image full" id="home">
          <b-container >
          <div class="menu-icon p-4 text-right" @click="menuDrawer(!menu)"  v-if="isMobile()">
            <b-button variant="none">
               <i class="fas text-white fa-bars"></i>
            </b-button>
          </div>
            <b-row class="text-center full" :class="isMobile() ? 'mobile-top' : ''">
              <b-col  cols="12" align-self="center">
                <p>
                  <b-avatar class="fixBootstrapAvatar" size="lg">
                    <b-img :width="90" src="assets/me.jpeg" alt="me"></b-img>
                  </b-avatar>
                </p>
                <span class="name">Alex Castro</span>
                <p> <span class="whoami">I'm a  
                  <span class="whoami whoami-animation"> {{whoami}}</span>
                  <p>
                    <b-button href="https://docs.google.com/document/d/1IRYU1Gy06o71jVzgFhNLRLkCi38jYaFv" target="blank" variant="danger">Hire me</b-button>
                  </p>
                  <p>
                    <a href="https://www.linkedin.com/in/alexandro-castro-23420a173/" target="_blank"><i class="fab fa-linkedin text-white  socials"></i></a>
                    <a href="https://github.com/AlexcastroDev" target="_blank"><i class="fab fa-github text-white pl-2 socials"></i></a>
                    <a href="https://fluttership.com.br" target="_blank"><i class="fa fa-globe text-white pl-2 socials"></i></a>
                  </p>
                </span>
               </p>
               </b-col>
                  <b-col  cols="12" align-self="center" class="pt-4 mouse-wrapper">
                    <span class="text-white ">Scroll down</span>
                    <span class="mouse"> <span class="wheel"></span> </span>
                  </b-col>
            </b-row>
</b-container>

      <!--floating langs-->
      <div v-if="!isMobile()">
          <img class="lang dart"  src="assets/dart.png">
          <img class="lang php"  src="assets/php.png">
          <img class="lang flutter"  src="assets/flutter.png">
          <img class="lang react"  src="assets/react.png">
          <img class="lang angular"  src="assets/angular.png">
          <img class="lang js"  src="assets/js.png">
          <img class="lang bootstrap"  src="assets/bootstrap.png">
          <img class="lang vue"  src="assets/vue.png">
          <img class="lang jquery"  src="assets/jquery.png">
          <img class="lang docker"  src="assets/docker.png">
          <img class="lang mysql"  src="assets/mysql.png">
          <img class="lang laravel"  src="assets/laravel.png">
      </div> <!-- end floating langs-->
       <!--  end top -->
    </div> 

       <!--  Content -->
    <b-container >
      <div class="spacer-inner"></div>
      <section id="about" :class="menu ? 'pl-5' : ''">
        <h2 class="title-section pb-5">About me</h2>
        <div class="row">
          <div class="col-12 col-lg-2 col-md-12 text-center pt-5">
            <b-avatar class="fixBootstrapAvatar" size="lg">
              <b-img :width="90" src="assets/me.jpeg" alt="me"></b-img>
            </b-avatar>
            </div>

            <div class="col-12 col-lg-10 col-md-12 p-2">
            <b-card bg-variant="white" text-variant="dark" title="Hello, Company!">
            <b-card-text>
              <p>I am Alexandro Castro, Software Engineer from Curitiba, Paraná, Brazil. </p>
              <p>I have large experience with web development frontend and backend.</p>
            </b-card-text>
            <b-button href="https://docs.google.com/document/d/1IRYU1Gy06o71jVzgFhNLRLkCi38jYaFv" target="blank" variant="danger"><i class="fab fa-google-drive"></i> Download my CV</b-button>
            <!-- Cover Letter in Progress -->
            <!-- <b-button href="#" target="blank" variant="danger"><i class="fab fa-google-drive"></i> Download my Cover Letter</b-button> -->
          </b-card></div>
        </div>
      </section>
    </b-container>
     <!--  end Content -->
    
       
    
  <div class="footer">
      <b-container >
        <b-row class="text-center">
          <b-col class="cp" cols="12">This website is working in progress, dont judge me <i class="fas fa-heart text-danger"></i> </b-col>
          <b-col class="cp" cols="12">Created with <i class="fas fa-heart text-danger"></i> by  <a class="text-white" href="https://github.com/AlexcastroDev/">Alexandro Castro</a></b-col>
          </b-row>

        <b-row class="text-center pt-3 align-self-center">
          <b-col class="socials" cols="12">
           <a href="https://www.linkedin.com/in/alexandro-castro-23420a173/"><i class="fab fa-linkedin text-info mr-1"></i></a>
           <a href="http://github.com/alexcastroDev/"><i class="fab fa-github-alt mr-1"></i></a>
           </b-col>
        </b-row>
     
      </b-container>
    </div>

     <!-- ScrollToTop -->
       <a v-show="window.pageYOffset   > 10" data-scroll href="#home" id="goTop" style="display: block;" class="text-center"><i class="fas fa-arrow-up text-white goTop"></i></a>
     <!--  end ScrollToTop -->

  </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
          whoami: "Developer",
          menu: true
        },
        methods: {
          isMobile() {
            if(this.$screen.lg){
              return false;
            }
            return true;
          },
        movingMouse(event) {
          let w = window.innerWidth
          let  elements = [
            {
              element:  document.querySelector('.dart'),
              x: 130,
              y: 20
            },
            {
              element:  document.querySelector('.php'),
              x: w - 400 ,
              y: 20
            },
            {
              element:  document.querySelector('.flutter'),
              x: w - 500 ,
              y: 180
            },
            {
              element:  document.querySelector('.react'),
              x: 400 ,
              y: 80
            },
            {
              element:  document.querySelector('.angular'),
              x: w - 500 ,
              y: 380
            },
            {
              element:  document.querySelector('.js'),
              x: 120 ,
              y: 180
            },
            {
              element:  document.querySelector('.vue'),
              x: 180 ,
              y: 380
            },
            {
              element:  document.querySelector('.docker'),
              x: w - 360 ,
              y: 500
            },
            {
              element:  document.querySelector('.mysql'),
              x: 120 ,
              y: 500
            },
            {
              element:  document.querySelector('.laravel'),
              x: w - 300 ,
              y: 280
            },
            {
              element:  document.querySelector('.jquery'),
              x: 340 ,
              y: 560
            },
            {
              element:  document.querySelector('.bootstrap'),
              x: 550 ,
              y: 30
            },
           ];

           for(let item of elements) {
             item.element.style.opacity =1
             TweenMax.to(item.element, 1, {
              x: item.x + event.clientX / 10,
              y: item.y + event.clientY / 10
            });
           }
                  },
      menuDrawer(payload, check = false) {
        if(check) {
          this.menu = this.isMobile() ?  payload : this.menu;
        } else{
          this.menu = payload;
        }
      }
      },
      mounted() {
        // Check if show floating langs
        if(!this.isMobile()) {
          window.addEventListener('mousemove', this.movingMouse);
        }
        //  Check if show or hide menu
        if(this.isMobile()) {
            this.menu  = false
        }
        // 
        let whoami = ['Software Engineer','Frontend Developer', 'Backend  Developer']
        let i = 0;
        
        setInterval(() => { 
          if(i >= whoami.length)  {
            i = 0;
          }
          this.whoami = whoami[i];
          i++;
         }, 2000);

        
      },
      destroyed() {
        window.removeEventListener('mousemove', this.movingMouse);
      },
    })
</script>
</html>
