body {
    overflow-x: hidden;
}


.mouse-wrapper {
    bottom: 20px;
    position: absolute;
    padding-right: 5%;
}
/* */

.fixBootstrapAvatar {
    width: 6.5em !important;
    height: 6.5em !important; 
}

.fixBootstrapAvatar img {
    border-radius: 50% !important;
    width: 6.5em !important;
}

.socials {
    font-size: x-large;
}

.mouse {
    border: solid 2px #fff;
    border-radius: 16px;
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 26px;
    position: relative;
    width: 20px;
}

.mouse .wheel {
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 4px;
    -webkit-animation: ani-mouse 2s linear infinite;
    -moz-animation: ani-mouse 2s linear infinite;
    animation: ani-mouse 2s linear infinite;
}

@keyframes ani-mouse { 
    0%   {top: 4px;}
    25%  {top: 10px;}
    50%  {top: 15px;}
    75%  {top: 10px}
    100% {top: 4px;}
    }

.whoami-animation {
    animation: bounceIn 2s infinite;
    -webkit-animation: bounceIn 2s infinite; /*Chrome, Safari, Opera*/
  }

  @keyframes bounceIn { 
    0% { transform: scale(0.1); opacity: 0; } 
    60% { transform: scale(1.2); opacity: 1; } 
    100% { transform: scale(1); } 
    }
    /* Chrome, Safari, Opera */ 
    @-webkit-keyframes bounceIn {
    0% { transform: scale(0.1); opacity: 0; } 
    60% { transform: scale(1.2); opacity: 1; } 
    100% { transform: scale(1); } 
    }
  

.top-image {
    background-color: #353353 !important;
}
.full {
    height: 100vh;
}
.lang {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 70px;
}

.flutter {
    height: 40px;
    width: 35px;
}

.vue {
    height: 30px;
    width: 25px;
}

.name {
    font-family: "Rubik",Sans-serif;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}
.whoami {

color: #fff;
    font-family: "Rubik",Sans-serif;
    font-size: 16px;
    z-index: 1;
}
.active-detail {
    height: 80px!important;
}

.vh-footer {
    background-color: #343d47;
    background: #343d47;
    color: #fff;
    padding: 70px 0;
    text-align: center;
    border-top: 1px solid #303841;
    height: 40vh;
}

.cp {
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.socials a{
    font-size: x-large;
    color: #fff;    
}

.navbar-events-vh {
    margin-left: 3rem  !important;
    margin-right: 3rem  !important;
}
.navbar-nav .dropdown-menu {
    background-color: #373F4A  !important;
}
.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover {
    background-color: #000  !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: rgb(3, 2, 2) !important;
    text-decoration: none;
    background-color: #fff;
}

.dropdown-item.active, .dropdown-item:hover {
    color: rgb(3, 2, 2) !important;
    text-decoration: none;
    background-color: #fff;
}


.b-dropdown-item :active {
    background-color: #000  !important;
}

@media only screen and (max-width: 600px) {
    .navbar-events-vh {
        margin-left: 0.1rem  !important;
        margin-right: 0.1rem  !important;
    }
}
.main-count {
    padding-top: 30vh;
}

.count {
    font-size: 60px;
}
.count-texts {
    font-size: 14px;
}
@media only screen and (max-width: 600px) {
    .count {
        font-size: 30px;
    }
    .count-texts {
        font-size: 11px;
    }
  }

.count .days {
    color: rgb(239, 241, 68);
}

.count .hours {
    color: rgb(209, 156, 33);
}

.count .minutes {
    color: rgb(1, 120, 207);
}

.count .seconds {
    color: rgb(49, 228, 33);
}
.nav-item a {
    font-size: 16px;
    color: #fff !important;
}

.market-text {
    font-size: -webkit-xxx-large;
    font-stretch: expanded;
}